<div class="fixed-header">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="color: #1bff00;">LOGO</a>
        <nav class="" style="display: inline-flex; float: right">
            <a class="active" href="#">About</a>
            <li class="dropdown"style="list-style: none;"><a href=""class="dropdown-toggle" data-toggle="dropdown">Registration <span class="caret"></span></a>
                <ul class="dropdown-menu"style="background-color: orange;">
                    <a href="{% url 'clientregistartion' %}">New Client Registration</a>
                    <a href="{% url 'blog' %}">New Employee Registration</a>
                </ul>
            </li>
            <a href="#">Products</a>
            <li class="dropdown" style="list-style: none;"><a href="" class="dropdown-toggle" data-toggle="dropdown">Services<span class="caret"></span></a>
                <ul class="dropdown-menu" style="background-color: orange;">
                    <a href="{% url 'payslip' %}">Payslip Generation</a>
                    <a href="{% url 'blog' %}">Work Order Generation</a>
                    <a href="{% url 'clientdetails' %}">Client Details</a>
                    <a href="{% url 'employeedetails' %}">Employee Details</a>
                </ul>
            </li>
            <a href="#">Contact Us</a>
        </nav>
    </div>
</div>