{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{% endblock %}
{% load static %} 
{% block content %} 

<<!-- h1>Client Details</h1>

<table id="racetimes">
  <tr id="firstrow"><th>Race</th><th>Location</th><th>Distance (in kilometres)</th><th>Time</th></tr>
  <tr><td>SAIT Open</td><td>Calgary</td><td>5</td><td></td></tr>
  <tr><td>CALTAF Classic</td><td>Calgary</td><td>1.5</td><td>5.00</td></tr>
  <tr><td>Calgary Marathon</td><td>Calgary</td><td>21.1</td><td>2:00.00</td></tr>
  <tr><td>Zombie Survivor</td><td>Cochrane</td><td>5</td><td>25.00</td></tr>
  <tr><td>Run for Women</td><td>Calgary</td><td>5</td><td>20.00</td></tr>
  <tr><td>Mother's Day Run</td><td>Calgary</td><td>10</td><td>45.00</td></tr>
  <tr><td>Edmonton Marathon</td><td>Edmonton</td><td>21.1</td><td>1:30.00</td></tr>
</table>
<link href="{% static 'css/table.css' %}" rel="stylesheet" text="text/css"> -->
<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Sticky Table Headers Revisited | Demo 3</title>
		<meta name="description" content="Sticky Table Headers Revisited: Creating functional and flexible sticky table headers" />
		<meta name="keywords" content="Sticky Table Headers Revisited" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="{% static 'StickyTableHeaders/css/normalize.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'StickyTableHeaders/css/demo.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'StickyTableHeaders/css/component.css' %}" />
	</head>
	<body>
		<div class="container">
			<!-- Top Navigation -->
			<div class="component">
				<h2>Client Details</h2>
				<table class="">
					<thead>
						<tr>
							<th>S.No</th><th>Client Id</th><th>Client Name</th><th>Email Id</th><th>Telephone No</th><th>Office Address</th><th>NO.Of Working</th><th>Client information</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>1</th><td>23</td><td>88</td><td>8</td><td>2</td><td>67</td><td>83</td><td>81</td>
						</tr><tr>
							<th>2</th><td>14</td><td>21</td><td>20</td><td>21</td><td>9</td><td>68</td><td>60</td>
						</tr><tr>
							<th>3</th><td>4</td><td>50</td><td>89</td><td>72</td><td>99</td><td>90</td><td>24</td>
						</tr><tr>
							<th>4</th><td>10</td><td>Par</td><td>32</td><td>45</td><td>53</td><td>29</td><td>35</td>
						</tr><tr>
							<th>5</th><td>85</td><td>42</td><td>71</td><td>56</td><td>30</td><td>3</td><td>41</td>
						</tr><tr>
							<th>6</th><td>18</td><td>80</td><td>85</td><td>65</td><td>9</td><td>93</td><td>93</td>
						</tr><tr>
							<th>7</th><td>30</td><td>81</td><td>46</td><td>50</td><td>71</td><td>60</td><td>8</td>
						</tr><tr>
							<th>8</th><td>23</td><td>88</td><td>8</td><td>2</td><td>67</td><td>83</td><td>81</td>
						</tr><tr>
							<th>9</th><td>14</td><td>21</td><td>20</td><td>21</td><td>9</td><td>68</td><td>60</td>
						</tr><tr>
							<th>10</th><td>4</td><td>50</td><td>89</td><td>72</td><td>99</td><td>90</td><td>24</td>
						</tr><tr>
							<th>11</th><td>10</td><td>Parse error</td><td>32</td><td>45</td><td>53</td><td></td><td></td>
						</tr><tr>
							<th>12</th><td>85</td><td>42</td><td>71</td><td>56</td><td>30</td><td>3</td><td>41</td>
						</tr><tr>
							<th>13</th><td>18</td><td>80</td><td>85</td><td>65</td><td>9</td><td>93</td><td>93</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div><!-- /container -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
		<!-- <script src="{% static 'StickyTableHeaders/js/jquery.stickyheader.js' %}"></script> -->
	</body>
</html>

{% endblock %}
