{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}{% endblock %}
{% load static %} 
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'StickyTableHeaders/css/normalize.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'StickyTableHeaders/css/demo.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/componet.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}" />
<div class="container table-body-new" style="padding-top: initial">
    <div class="row" id="animationSandbox">
        <div class="col-sm-12">
            
              </div>
            </div>
        </div>
        <!-- end col -->
    </div>
</div>
<div id="templates">
<table width="100%" style="border:1px dotted #CCCCCC;">
    <tr class="table-row" >
      <td align="center" class="sno"></td>
      <td class="unit-code"></td>
      <td class="unit-name"></td>
      <td class="division"></td>
      <td class="category"></td>
      <td class="domain"></td>
      <td class="unit-address" style="word-break: break-word;"></td>
      <td class="createdby"></td>
      <td class="createdon"></td>
      <td class="status"></td>
    </tr>
  </table>
</div>
<div id="no-record-templates" class="default-display-none">
<table class="table-no-content">
<tr align="left" class="table-row-no-content">
<td  align="center" colspan="10" class="no_records" style="padding:40px; font-size:1.2em; font-weight:bold"></td>
</tr>
</table>
</div>

{% endblock %}